.container
  .row
    .col-xs-12.col-md-3
      %h3 Our Locations
      %address
        %strong.underline Draper
        %br
        = fa_icon 'map-marker', text: 'Draper, UT - Call For Appointment'
        = fa_icon 'phone', text: '801-576-1985'
        %br
      %address
        %strong.underline St. George Showroom
        %br
        = fa_icon 'map-marker', text: '1240 East 100 South Suite 104'
        %br
        %span St. George UT, 84095
        %br
        = fa_icon 'phone', text: '(435) 673-7777'
    .col-xs-12.col-md-8
      %h3 Showroom Location
      #map{:style => "width: 100%; height: 200px;"}
  .col-xs-12
    %hr
  .row
    .col-xs-12.col-md-9
      %h3 About Us
      %p.lead LED Holdings Inc is the Home Technology and Entertainment Systems Company that provides affordable, cutting-edge products and service. With +20 years of experience, we offer you the product knowledge and expertise to design, install and service the project of your dreams. Our employees are not only home technology experts but are also licensed electricians, a rarity in the industry.
      %p.lead At LED we know your home is where families are raised memories are made. Our contribution to your home will last long after we have finished your install. For this reason, we strive for quality not only in our labor but in our products. We only provide the highest quality products to give you the best experience possible. With all our offerings from home automation to home entertainment systems, we know we can provide with the value you are looking for.
      %p.lead LED Holdings Inc brings you the best in Home Automation and Entertainment Systems. Whatever you can imagine we will be with you throughout the design, install, and follow up process. Reach out to us today to begin your experience. We are conveniently located in Draper and Saint George Utah.
    .col-xs-12.col-md-3
      %h3 Showroom Hours
      %table.table.table-hover
        %thead
          %tr
            %th Day
            %th Time
        %tbody
          - ['Monday', 'Tuesday', 'Wednesday', 'Thursday'].each do |day|
            %tr.success
              %td
                = day.capitalize
              %td
                9:00 AM
                to
                4:00 PM
          %tr.success
            %td Friday
            %td By Appointment
          %tr.danger
            %td Saturday
            %td Closed
          %tr.danger
            %td Sunday
            %td Closed
