.navbar.navbar-default{role: 'navigation'}
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{'data-toggle' => 'collapse', 'data-target' => '#nav-items', type: 'button'}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: '/'} Structured Media Systems
    #nav-items.collapse.navbar-collapse.navbar-right
      %ul.nav.navbar-nav
        %li
          = link_to("Home", '/', class: 'nav-item')
        %li
          = link_to("About Us", about_path, class: 'nav-item')
        %li
          = link_to("Products", product_path, class: 'nav-item')
        %li
          = link_to("Services", service_path, class: 'nav-item')
        %li
          = link_to("Gallery", gallery_path, class: 'nav-item')
        %li
          = link_to contact_path, class: 'nav-item' do
            = fa_icon "envelope"
