%div{class: classes}
  = link_to "https://www.facebook.com/", {target: '_blank'} do
    = fa_icon 'facebook-square', class: 'complimentary social-nav shadow red'
  = link_to "https://www.twitter.com", {target: '_blank'} do
    = fa_icon 'twitter-square', class: 'complimentary social-nav shadow red'
  = link_to "https://www.youtube.com", {target: '_blank'} do
    = fa_icon 'youtube-square', class: 'complimentary social-nav shadow red'
